<!--<div style="font-size:12pt;color:magenta;">Writer Note_csobier: Docs/issue#3950
</div>-->
##CartoCSS Composite Operations

https://www.mapbox.com/tilemill/docs/guides/comp-op/

links in Editor to site above?

Change how the colors of overlapping geometries interact with one another.

<<ADD LINK TO COMPOSITE OPERATIONS SECTION? change existing section in cartodb editor section. comp-ops are described here in particular properties>

***Note:** CartoDB is currently maintaining this library of common properties since [Mapbox](https://github.com/mapbox/carto/blob/master/docs/latest.md) is no longer doing active development for CartoCSS.*

DELETED THIS SECTION FROM EDITOR- as this option is described in the respective map types.

#### Composite Operations
Composite operations style the way colors of overlapping markers interact with each other. You can think of them as blend modes or filters, similar to blend operations in Photoshop. Composite operations appear under Map layer wizard options for Simple, Choropleth, Bubble, Density, and Torque maps.

The available options within the wizards interface include multiply, screen, overlay, darken, lighten, color-dodge, and color-burn. In addition, blend modes specific to Torque include lighter, multiply, source-over, and xor. For more information on the different options available, refer to the documentation on [Mapbox](https://www.mapbox.com/tilemill/docs/guides/comp-op/).

<p class="wrap-border"><img src="{{ '/img/layout/cartodb-editor/markercompop.png' | prepend: site.baseurl }}" alt="Marker CartoCSS Composite Operations" /></p>

Customize the marker composite operations within the CartoCSS by editing the marker-comp-op option.