<!--<div style="font-size:12pt;color:magenta;">Writer Note_csobier: This include file is used in CartoDB Editor/Error Codes and Solutions/CartoCSS Errors
</div>-->

Entering CartoCSS styling is generally simple. The most common cause of errors are related to typos and missing formatting.  If you are using the [(CartoCSS Editor](#cartocss.html/#apply-map-styles-with-the-cartocss-edtor)), you are notified which line of code is invalid. 

For best practices, always apply the following format when entering CartoCSS code and be mindful of any quotes, brackets, and end line semi-colons.
	
		{% highlight bash %}
	{
		CartoCSS property name: value;
		CartoCSS property name: value;
		CartoCSS property name: value;
		CartoCSS property name: value;
	}
	{% endhighlight %}
	