<!--<div style="font-size:12pt;color:magenta;">Writer Note_csobier: This include file is used in CartoDB Editor/Customizing Maps with CartoCSS/CartoCSS Best Practices
</div>-->

While there are many ways to apply the same visual effects with CartoCSS properties, this section describes the most efficient and intuitive methods for structuring your CartoCSS syntax.

For example, some CartoCSS properties are specific for styling data whereas other properties are better suited for styling map labels and points.  Sometimes, applying these properties to the same individual map layer is not the most effective workflow for enhancing your overall map style.

- Typically, you apply CartoCSS styles to different layers on a map. You can add multiple point and marker layers and apply different CartoCSS properties to each layer

- Alternatively, you can apply CartoCSS in categories. Categories contain multiple values (for all the map layers) listed under the same, single category. This enables you visualize all of the styling elements applied to the overall map, and avoid adding any redundant or unnecessary parameters

For example, the following CartoCSS syntax shows how to update and modify CartoCSS syntax with the color values for all the points on a map:

**If approved, add Mamata's syntax examples here?**

HOW IS ISSUE [#5493](https://github.com/CartoDB/cartodb/issues/5493) GOING TO CHANGE HOW THE CARTOCSS EDITOR APPEARS and STRUCTURES CONTENT?
	