<footer class="footer dark-footer">
  <div class="footer-inner">
    <ul class="footer-columns">
      <li class="footer-column">
        <dl>
          <dt>CartoDB</dt>
          <dd><a href="{{ '/visualize' | prepend: site.cartodb-baseurl }}">Create beautiful maps</a></dd>
          <dd><a href="{{ '/analyze' | prepend: site.cartodb-baseurl }}">Analyze your data</a></dd>
          <dd><a href="{{ '/develop' | prepend: site.cartodb-baseurl }}">Develop your apps</a></dd>
          <dd><a href="{{ '/gallery' | prepend: site.cartodb-baseurl }}">Gallery</a></dd>
          <dd><a href="{{ '/pricing' | prepend: site.cartodb-baseurl }}">Pricing</a></dd>
          <dd><a href="{{ '/media' | prepend: site.cartodb-baseurl }}">About us</a></dd>
          <dd><a href="{{ '/team' | prepend: site.cartodb-baseurl }}">Team</a></dd>
          <dd><a href="{{ '/jobs' | prepend: site.cartodb-baseurl }}">Jobs</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt>Enterprise</dt>
          <dd><a href="{{ '/enterprise' | prepend: site.cartodb-baseurl }}">CartoDB for enterprise</a></dd>
          <dd><a href="{{ '/partners' | prepend: site.cartodb-baseurl }}">Partners</a></dd>
          <dd><a href="{{ '/gallery' | prepend: site.cartodb-baseurl }}">Case studies</a></dd>
          <dd><a href="mailto:sales@cartodb.com">Contact sales</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt>Learn</dt>
          <dd><a href="{{ site.blog-baseurl }}">Blog</a></dd>
          <dd><a href="{{ '/docs' | prepend: site.cartodb-baseurl }}">Documentation</a></dd>
          <dd><a href="/tutorials.html">Tutorials</a></dd>
          <dd><a href="/cartodb-platform.html">CartoDB Platform</a></dd>
          <dd><a href="{{ site.academy-baseurl }}">The Map Academy</a></dd>
          <dd><a href="{{ '/docs#support' | prepend: site.cartodb-baseurl }}">Support</a></dd>
          <dd><a href="{{ '/webinars' | prepend: site.cartodb-baseurl }}">Webinars</a></dd>
          <dd><a href="{{ github-baseurl }}">View source on GitHub</a></dd>
        </dl>
      </li>

      <li class="footer-column last">
        <dl>
          <dt>Use CartoDB to</dt>
          <dd><a href="{{ '/solutions/twitter-maps' | prepend: site.cartodb-baseurl }}">Twitter Maps</a></dd>
          <dd><a href="{{ '/use-cases/map-excel-data' | prepend: site.cartodb-baseurl }}">Map Excel Data</a></dd>
          <dd><a href="{{ '/use-cases/situation-room' | prepend: site.cartodb-baseurl }}">Situation Room Dashboards</a></dd>
          <dd><a href="{{ '/use-cases/election-maps' | prepend: site.cartodb-baseurl }}">Election Maps</a></dd>
          <dd><a href="{{ '/use-cases/build-store-locator' | prepend: site.cartodb-baseurl }}">Build a Store Locator</a></dd>
          <dd><a href="{{ '/gis-online-software' | prepend: site.cartodb-baseurl }}">GIS online software</a></dd>
        </dl>
      </li>
    </ul>

    <div>
      <p class="h-left info-footer-credits">{{ site.time | date: "%Y" }} CartoDB</a></p>
      <p class="h-txt-right info-footer-contact">
        <a href="{{ '/love/' | prepend: site.cartodb-baseurl }}">Love</a> ·
        <a href="{{ '/attributions/' | prepend: site.cartodb-baseurl }}">Attributions</a> ·
        <a href="mailto:support@cartodb.com">Contact</a> ·
        <a href="{{ '/terms/' | prepend: site.cartodb-baseurl }}">Terms of service</a> ·
        <a href="{{ '/privacy/' | prepend: site.cartodb-baseurl }}">Privacy policy</a>
      </p>
    </div>
  </div>
</footer>
