<footer class="footer dark-footer">
  <div class="footer-inner">
    <ul class="footer-columns">
      <li class="footer-column">
        <dl>
          <dt class="Footer-title">CartoDB</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/platform/">Platform</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/editor/">Editor</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/extras/">Extras</a></dd>
          <!-- dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/">Industries</a></dd -->
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/basemaps/">Basemaps</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/gallery/">Explore gallery</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/enterprise/">Enterprise</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/on-premises/">On-premises</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/pricing/">Pricing</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">About us</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/team/">Team</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/jobs/">Jobs</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/media/">Media</a></dd>
          <!-- dd><a class="Footer-link" href="#">Press</a></dd -->
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/partners/">Partners</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/attributions/">Attributions</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">Learn</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/docs/">Documentation</a></dd>
          <dd><a class="Footer-link" href="/tutorials.html">Tutorials</a></dd>
          <dd><a class="Footer-link" href="{{ site.academy-baseurl }}">The map academy</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/webinars/">Webinars</a></dd>
          <dd><a class="Footer-link" href="{{ site.github-baseurl }}">View source</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">Help</dt>
          <dd><a class="Footer-link js-ContactLink" href="mailto:sales@cartodb.com">Contact sales</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/request-live-demo/">Request a demo</a></dd>
          <!-- dd><a class="Footer-link" href="#">Commercial resources</a></dd -->
          <!-- dd><a class="Footer-link" href="#">Technical resources</a></dd -->
          <!-- dd><a class="Footer-link" href="#">Press resources</a></dd -->
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">Social</dt>
          <dd><a class="Footer-link" href="{{ site.blog-baseurl }}">Blog</a></dd>
          <dd><a class="Footer-link" href="{{ site.twitter-baseurl }}">Twitter</a></dd>
          <dd><a class="Footer-link" href="{{ site.facebook-baseurl }}">Facebook</a></dd>
          <dd><a class="Footer-link" href="{{ site.linkedin-baseurl }}">LinkedIn</a></dd>
        </dl>
      </li>

      <li class="footer-column last">
        <dl>
          <dt class="Footer-title">Use cases</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/cartodb-on-google-platform/">CartoDB on Google Platform</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/twitter-maps/">Make Twitter Maps</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/use-cases/map-excel-data/">Map Excel Data</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/use-cases/situation-room/">Create Dashboards</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/use-cases/election-maps/">Map Elections</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/use-cases/build-store-locator/">Build a Store Locator</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/gis-online-software/">Make Online GIS Maps</a></dd>
        </dl>
      </li>
    </ul>

    <div>
      <p class="h-left info-footer-credits">{{ site.time | date: "%Y" }} CartoDB</a></p>
      <p class="h-txt-right info-footer-contact">Made in Madrid & New York City since 2012 · <a class="Footer-link" href="{{ site.cartodb-baseurl }}/terms/">Terms and conditions</a> · <a class="Footer-link" href="{{ site.cartodb-baseurl }}/privacy/">Privacy policy</a></p>
    </div>
  </div>
</footer>
