<footer class="footer dark-footer">
  <div class="footer-inner">
    <ul class="footer-columns">
      <li class="footer-column">
        <dl>
          <dt class="Footer-title">CartoDB</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/platform/">Platform</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/editor/">Editor</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/extras/">Extras</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/enterprise/">Enterprise</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/on-premises/">On-premises</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/open-in-cartodb/">Open in CartoDB</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/gallery/">Gallery</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/basemaps/">Basemaps</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/pricing/">Pricing</a></dd>      
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">Industries</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/banking-and-finance/">Banking and Finance</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/business-intelligence-and-analytics/">BI and Analytics</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/earth-observation-and-space/">Earth Observation and Space</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/education-and-research/">Education and Research</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/government/">Government</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/journalism/">Journalism and New Media</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/natural-resources/">Natural Resources</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/non-profits/">Non-profits</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/real-estate/">Real Estate</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/industries/web-mobile/">Web and Mobile Development</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">Solutions</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/cartodb-on-google-platform/">On Google Platform</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/twitter-maps/">Make Twitter Maps</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/use-cases/map-excel-data/">Map Excel Data</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/use-cases/situation-room/">Create Dashboards</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/use-cases/election-maps/">Map Elections</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/use-cases/build-store-locator/">Build a Store Locator</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/gis-online-software/">Make Online GIS Maps</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/satellite-aerial-image/">Satellite Imagery</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/dropbox/">CartoDB for Dropbox</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/mailchimp/">MailChimp Maps</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/google-drive/">CartoDB for GDrive</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/solutions/arcgis/">CartoDB for ArcGIS&trade;</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">Learn</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/docs/">Documentation</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/webinars/">Webinars</a></dd>
          <dd><a class="Footer-link" href="/tutorials.html">Tutorials</a></dd>
          <dd><a class="Footer-link" href="{{ site.academy-baseurl }}">The map academy</a></dd>
          <dd><a class="Footer-link" href="{{ site.github-baseurl }}">View source</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">Help</dt>
          <dd><a class="Footer-link js-ContactLink" href="mailto:sales@cartodb.com">Contact sales</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/request-live-demo/">Request a demo</a></dd>
        </dl>
      </li>

      <li class="footer-column">
        <dl>
          <dt class="Footer-title">About us</dt>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/team/">Team</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/jobs/">Jobs</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/media/">Media</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/press/">Press</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/partners/">Partners</a></dd>
          <dd><a class="Footer-link" href="{{ site.cartodb-baseurl }}/attributions/">Attributions</a></dd>
          <dd><a class="Footer-link" href="{{ site.blog-baseurl }}">Blog</a></dd>
        </dl>
      </li>
    </ul>

    <div>
      <p class="h-left info-footer-credits">{{ site.time | date: "%Y" }} CartoDB</a></p>
      <p class="h-txt-right info-footer-contact">Made in Madrid & New York City since 2012 · <a class="Footer-link" href="{{ site.cartodb-baseurl }}/terms/">Terms and conditions</a> · <a class="Footer-link" href="{{ site.cartodb-baseurl }}/privacy/">Privacy policy</a></p>
    </div>
  </div>
</footer>
