<article class="content">

  {{ content }}
 
 <div style="font-size:12pt;color:pink;">Writer Note_csobier: I do not know how to format this include file? It is not appearing correctly?
 </div>
 <!--
 <div style="font-size:12pt;color:pink;">Writer Note_csobier: Add Include file here? 
 	This content is shared beween the cartodb-editor.md and the faqs.md. I have created a new html file in the CartoDB/docs/_includes folder "sharingmaps.html". It is a copy of the platform.html include file that I copied. I am still working on adding shared content.
 </div>
 -->
 
Once you visualize and publish a map, you can get a link to share the map, embed it to a website or blog, or add your map to another application. The Publish button is available from the Data View or Map View of your dashboard when a map is selected, and displays the following options.

<p class="wrap-border"><img src="{{ '/img/layout/cartodb-editor/publishbutton.png' | prepend: site.baseurl }}" alt="Publish button" /></p>

<p class="wrap-border"><img src="{{ '/img/layout/cartodb-editor/publishoptions.png' | prepend: site.baseurl }}" alt="How do I embed a map in my site/blog" /></p>

**Note:** You cannot publish a private map.  

- **Get the link**  
  Provides a URL to the map as it appears in your CartoDB public profile. 
  1. Select the URL from the *Get the link* field
  2. Copy and paste the link anywhere (email, social media, blog posts) to share the link
  
- **Embed it**  
  Provides HTML code to embed the map. 
  1. Select the embed code from the *Embed it* input field
  2. Click *Go to your map* to view how the embeded map appears and customize any of your iframe parameters as needed
  **Tip:** This is very useful for publishing interactive maps of your data on your website or blog. For example, you can insert CartoDB maps by including the iframe in the HTML code editor of WordPress, Joomla, and Drupal.
  
- **CartoDB.js**  
  Provides a URL to your viz.json file, which is required if you are using the CartoDB JavaScript library [CartoDB.js](http://docs.cartodb.com/cartodb-platform/cartodb-js.html) to publish maps in an external application.
  1. Select the URL from the "CartoDB.js" input field
  2. Copy and paste the link to your external application
  Optionally, click [Read More](http://docs.cartodb.com/cartodb-platform/cartodb-js.html) to view the CartoDB.js documentation.

 <div style="font-size:12pt;color:pink;">Writer Note_csobier: Add separate Visualize and Publish procedures- currently, these options are mentioned a few times throughout random places in the doc.
 </div>
 -->


 </div>
 <div style="font-size:12pt;color:green;">ORIGINAL CONTENT- everything that follows is still a work in progress
 </div>

Once you have created a map, it's time to share it with the world! Take a look at our [written tutorial]({{ '/tutorials/sharing_maps.html' | prepend: site.baseurl }}) or [video tutorial](http://vimeo.com/80472123) for a guide to publishing and sharing your maps. Read on for a description of the CartoDB sharing interface!

<p class="wrap-border"><img src="{{ '/img/layout/cartodb-editor/sharevisualization.png' | prepend: site.baseurl }}" alt="Share your map" /></p>

</article>
