<style type="text/css">
  #mc_embed_signup form {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    text-align: left;
  }
  #mc_embed_signup .mc-field-group {
    float: left;
    width: 100%;
    padding: 0;
    border: 0;
    min-height: 38px;
  }
    #mc_embed_signup .mc-field-group input {
      margin: 0;
      padding: 12px 118px 12px 10px;
      border: 0;
      width: 100%;
      font: 14px "Proxima Nova Rg";
      color: #666;
      border-radius: 4px;
      outline: none;
    }
  #mc_embed_signup .button {
    position: absolute;
    right: 0;
    height: 38px;
    margin: 0;
    padding: 0 10px;
    border: 0;
    color: #fff;
    font: 12px "Proxima Nova Th";
    text-transform: uppercase;
    background: #97B24D;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-font-smoothing: antialiased;
    outline: none;
    cursor: pointer;
  }
</style>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//vizzuality.us2.list-manage1.com/subscribe/post?u=177f02bad7857b7358dc1d0fd&amp;id={{site.tech_newsletter_id}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="mc-field-group">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      <input type='hidden' name='ORIGIN' value='docs'>
    </div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_36faffcf7a252a84c96af0236_eee5f49144" tabindex="-1" value=""></div>
  </form>
</div>
<!--End mc_embed_signup-->
