/* =Constants
----------------------------------------------- */

$max-width: 1111px;
$large-width: 981px;
$medium-width: 801px;
$small-width: 321px;

$principal-color: #397DBA;
$secondary-color: #8EB83F;
