/* =Footer
----------------------------------------------- */

.Footer {
  background: #2E3C43;
  color: #636D72;
  font: 14px "Proxima Nova Rg";
  position: relative;
}

.Footer-inner {
  position: relative;
  z-index: 20;
}

.Footer-columns {
  padding: 0;
}

.Footer-column {
  display: block;
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
  padding-top: 40px;
}

.Footer-title {
  color: #fff;
  line-height: 25px;
  margin-bottom: 12px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Proxima Nova Sb";
}

.Footer-link {
  color: #636D72;
  line-height: 28px;
  transition: color .15s ease;
}

.Footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.u-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.Footer-colophon {
  margin-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #404B52;
  font-size: 14px;
  line-height: 1.4;
}

.Footer-columns,
.Footer-colophon-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
}

.Footer-left,
.Footer-right {
  padding-top: 40px;

  flex: 0 0 50%;
  max-width: 50%;
}

.Footer-credits span:first-child {
  color: #fff;
  font-family: "Proxima Nova Sb";
  font-weight: 400;
}

.Footer-brand,
.Footer-credits {
  float: left;
}

.Navbar-brand {
  margin-right: 16px;
  text-indent: -9000px;
}

.Navbar-brand a {
    display: block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: url(../img/logo-footer.svg) center no-repeat;
}

.Footer-right p {
  text-align: right;
}

@media (max-width: $medium-width) {
  .Footer-column {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 305px;
  }

  .Footer-left,
  .Footer-right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .Footer-right p {
    text-align: left;
  }
}