/* =Footer
----------------------------------------------- */

.footer {
  background: #f8f8f8;
  font: 15px "Proxima Nova Rg";
  color: #555;

  &.dark-footer {
    background: #384047;
    color: #999;

    .footer-inner {
      div {
        border-top: 1px solid rgba(#fff, .15);
      }

      a {
        color: rgba(#fff, .7);

        &:hover {
          color: #fff;
        }
      }
    }

    .footer-column {
      dt {
        border-bottom: 1px solid rgba(#fff, .15);
        color: #fff;
      }
    }
  }
}

.footer-inner {
  padding: 40px 20px 0;

  div {
    padding: 40px 0;
    border-top: 1px solid #ddd;
    font-size: 14px;
  }

  a {
    color: #397DB8;
    @include transition(.3s all);

    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
}

.footer-columns {
  @extend %clearfix;
  margin: 0 -10px 40px;

  > li {
    display: block;
    float: left;
    width: 25%;
  }
}

.footer-column {
  dl {
    padding: 0 10px;
  }

  dt {
    margin-bottom: 24px;
    font-weight: 700;
    font-family: "Proxima Nova Sb";
    font-size: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
  }

  dd {
    margin-bottom: 10px;
  }

  a {
    color: #999;
  }
}

@media (max-width: $medium-width) {
  .footer-columns > li {
    min-height: 305px;
    width: 50%;
  }

  .info-footer-contact {
    width: 100%;
    padding-top: 20px;
    text-align: left;
  }

  .info-footer-credits {
    float: none;
  }
}
