/* =Footer
----------------------------------------------- */

.Footer {
  background: #2E3C43;
  color: #979EA1;
  font: 14px "Proxima Nova Rg";
  position: relative;
}

.Footer-inner {
  position: relative;
  z-index: 20;
}

.Footer-columns {
  padding: 0;
}

.Footer-column {
  display: block;
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
  padding-top: 40px;
}

.Footer-title {
  color: #fff;
  line-height: 25px;
  margin-bottom: 12px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Proxima Nova Sb";
}

.Footer-link {
  color: #979EA1;
  line-height: 28px;
  transition: color .15s ease;
}

.Footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.u-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 980px;
  padding: 0 20px;
}

.Footer-colophon {
  margin-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #404B52;
  font-size: 14px;
  line-height: 1.4;
}

.Footer-columns,
.Footer-colophon-container,
.Social-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
}

.Footer-left,
.Footer-right {
  padding-top: 40px;
}

.Footer-left {
  flex: 0 0 40%;
  max-width: 40%;
}

.Footer-right {
  flex: 0 0 60%;
  max-width: 60%;
}

.Footer-credits span:first-child {
  color: #fff;
  font-family: "Proxima Nova Sb";
  font-weight: 400;
}

.Footer-brand,
.Footer-credits {
  float: left;
}

.Navbar-brand {
  margin-right: 16px;
  text-indent: -9000px;
}

.Navbar-brand a {
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: url(../img/logo-footer.svg) center no-repeat;
}

.Footer-right p {
  text-align: right;
}

.Social-links {
  margin-top: 10px;
  padding: 0 20px;
  text-align: right;
}

.Social-links,
.Newsletter-container {
  flex: 0 0 50%;
  max-width: 50%;
}

.Social-item {
  margin-left: 24px;
  display: inline-block;
}

.Social-item:first-child {
  margin-left: 0;
}

.Social-link {
  display: block;
  overflow: hidden;
  width: 18px;
  height: 18px;
  transition: all .15s;
}

.Social-twitter {
  background: url(../img/icons/twitter-off.svg) center no-repeat;
  width: 22px;
  height: 18px;
}

.Social-twitter:hover {
  background: url(../img/icons/twitter-on.svg) center no-repeat;
}

.Social-facebook {
  background: url(../img/icons/facebook-off.svg) center no-repeat;
}

.Social-facebook:hover {
  background: url(../img/icons/facebook-on.svg) center no-repeat;
}

.Social-linkedin {
  background: url(../img/icons/linkedin-off.svg) center no-repeat;
}

.Social-linkedin:hover {
  background: url(../img/icons/linkedin-on.svg) center no-repeat;
}

.Newsletter {
  position: relative;
  width: 100%;

  .hs-form {
    margin-right:0;
    padding-left: 0 !important;

    .input {
      margin-right: 0 !important;
      margin-bottom: 0 !important;
    }

    .hs-input {
      border-radius: 21px;
      padding: 9px 34px 9px 14px !important;
    }
  }
}

.hs-newsletter {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  width: 60px;
  border: 0;
  font: 500 12px "Proxima Nova Sb";
  color: #fff;
  background: #3aa9e3;
  border-radius: 17px;
  transition: all .15s;
  cursor: pointer;
  outline: none;

  &:hover {
    background: darken(#3aa9e3, 5%);
  }
}

@media (max-width: $medium-width) {
  .Footer-column {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 305px;
  }

  .Footer-left,
  .Footer-right,
  .Social-links,
  .Newsletter-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .Footer-left {
    text-align: center
  }

  .Footer-right p {
    text-align: left;
  }

  .Footer-brand,
  .Footer-credits {
    display: inline-block;
    float: none;
  }

  .Footer-credits {
    text-align: left;
  }

  .Social-links {
    text-align: center;
  }

  .Newsletter {
    margin-top: 40px;
  }
}

.hs-form{margin-right:-20px}.hs-form fieldset{display:block;width:100%;max-width:none !important}.hs-form label{display:none !important}.hs-form .input{margin-right:20px !important;margin-bottom:20px}.hs-form .hs-input{width:100% !important;outline:none}.hs-form select.hs-input{height:35px;border:1px solid #404B52;font-size:13px;color:#666}.hs-form input.hs-input,.hs-form textarea.hs-input{border:1px solid #404B52;padding:8px;border-radius:4px;transition:all 0.3s;font:200 14px/17px "Proxima Nova Sb","Helvetica Neue",Helvetica,Arial,sans-serif;color:#979EA1;background:rgba(255,255,255,.1)}.hs-form input.hs-input:focus,.hs-form textarea.hs-input:focus{border-color:#404B52}.hs-form textarea.hs-input{height:80px}