@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

@import "_constants";
@import "_fonts";
@import "_buttons";
@import "../bower_components/cdbui/scss/cdbui/_icons";
@import "_helpers";
@import "_base";

@import "_footer";


.up {
  display: none;
  position: fixed;
  left: 1060px;
  bottom: 14px;
  width: 32px;
  height: 32px;
  background: image-url("icons/up.png") no-repeat;
}

.wrap-border {
  display: inline-block;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    width: 100%;
    @include box-shadow(0 0 0 1px rgba(#000, .2) inset);
    @include border-radius(4px);
  }
}

/* =Header
----------------------------------------------- */

.navbar {
  @extend %clearfix;
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  width: 100%;
  min-width: $small-width;
  padding: 20px 0 20px 20px;
  background: #3AA9E3;
}

.nav-brand {
  display: inline-block;
  width: 251px;
  font: 14px 'Proxima Nova Th';
  text-transform: uppercase;
  color: #fff;
}

.brand {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  line-height: 43px;
  background: image-url('brand.svg') no-repeat;
  color: #fff;
  text-decoration: none;
  margin-top: 2px;

  span {
    display: none;
  }
}

.no-svg .brand {
  background: image-url('brand.png') no-repeat;
}

.nav-header,
.nav-inner {
  float: left;
}

.nav-collapse {
  @include transition(all .15s);
}

.nav-inner {
  > li {
    position: relative;
    font: 700 12px 'Proxima Nova Sb';

    &.first {
      margin-left: 0;
    }

    &.cartodb-link {
      font: 12px 'Proxima Nova Rg';
      color: rgba(#fff, .5);
      margin-left: 14px;

      a {
        display: inline;
        padding: 0;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }

      &:hover {
        a {
          background: transparent;
        }
      }
    }

    &:hover,
    &.selected {
      a {
        background: rgba(#000, .1);
      }
    }

    a {
      display: block;
      padding: 14px 24px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      @include border-radius(22px);
      @include transition(background .15s);

      &.selected a {
        color: #fff;
      }
    }
  }
}

.offcanvas-inner {
  background: #3B7EBB;

  /* dark */
  &.dark_layout {
    background: #384047;
  }

  /* white */
  &.white_layout {
    background: #fff;

    .nav-inner {
      > li {
        &.selected {
          .tooltip-inner li {
            &.selected {
              > a {
                @include border-radius(14px);
              }
            }

            &.selected {
              > a {
                background: #e5e5e5;
                background: rgba(#ddd, .3);
              }
            }

            a {
              color: #878787;
              background: none;
            }
          }
        }

        &:hover {
          .navbar-login {
            background: #4B80B7;
            color: #fff;
          }
        }

        .navbar-login {
          color: #4B80B7;
          border: 2px solid #4B80B7;
          @include border-radius(50px);
        }
      }

      a {
        &.navbar-login {
          &:hover {
            color: #fff;
            @include border-radius(50px);
          }
        }
      }
    }
  }
}

.nav-button {
  display: none;
  float: right;
  width: 21px;
  height: 18px;
  margin-top: 10px;
  background: image-url('icons/mobile-nav.png');
  text-indent: -9000px;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 6;
  top: 36px;
  right: 6px;
  margin-right: -194px;
  min-width: 240px;
  background: #fff;
  box-shadow: 0 0 2px rgba(#000, .3);
  @include border-radius(4px);
  @include opacity(0);

  &:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    left: 18px;
    top: -12px;
    border: 6px solid transparent;
    border-bottom: 6px solid  #384047;
  }
}

.tooltip-header {
  background: #384047;
  padding: 18px;
  color: #fff;
  font: 700 14px 'Proxima Nova Bd';
  text-transform: none;
  @include border-top-radius(4px);
}

.header {
  padding-top: 136px;
  margin-top: -136px;

  position: relative;
  padding-bottom: 60px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
  }

  .tit-section {
    margin-bottom: 5px;
  }
}

.offcanvas-inner {
  background: #3B7EBB;

  /* dark */
  &.dark_layout {
    background: #384047;
  }

  /* white */
  &.white_layout {
    background: #fff;

    .navbar {
      border-bottom: 1px solid #E7E8E9;
      border-bottom: 1px solid rgba(#000, .12);
    }

    .nav-inner {
      > li {
        &.selected {
          .tooltip-inner li {
            &.selected {
              > a {
                @include border-radius(14px);
              }
            }

            &.selected {
              > a {
                background: #e5e5e5;
                background: rgba(#ddd, .3);
              }
            }

            a {
              color: #878787;
              background: none;
            }
          }
        }
      }
    }
  }
}

.nav-inner {
  > li {
    &.cartodb-link {
      margin-left: 0;
    }

    .tooltip-inner {
      a {
        padding: 6px 14px;
      }
    }
  }
}

.tooltip-inner {
  padding: 18px 18px 18px 6px;
  border: 1px solid rgba(#000, .5);
  @include border-bottom-radius(4px);

  li {
    margin-bottom: 5px;
    font: 400 14px 'Proxima Nova Rg';

    a {
      display: inline-block;
      padding: 6px 14px;
      color: #878787;
      background: none;
      text-transform: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.selected {
      a {
        background-color: #F5F5F5;
      }
    }
  }
}

/* =Content
----------------------------------------------- */

.wrapper {
  position: relative;
  padding-top: 79px;
  background: #f8f8f8;
}

.content {
  display: block;
  position: relative;
  max-width: 801px;
  background: #fff;
  padding: 40px 50px;
  margin-left: 245px;
  border-right: 1px solid #eee;

  h2 {
    margin: 60px 0 24px;
    font: 31px/33px 'Proxima Nova Lt';
    letter-spacing: -1px;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    padding-bottom: 12px;
    margin: 35px 0 24px;
    border-bottom: 1px solid #e5e5e5;
    font: 24px/33px 'Proxima Nova Lt';
    letter-spacing: -1px;
  }

  h4 {
    margin: 35px 0 12px 0;
    font: 20px/24px 'Proxima Nova Sb';

    em {
      font-family: 'Proxima Nova Lt';
    }
  }

  h5 {
    margin-bottom: 12px;
    font: 18px/24px 'Proxima Nova Sb';
  }

  h2,
  h3,
  h4,
  h5 {
    &:hover .header-link {
      @include opacity(1);
    }
  }

  p,
  ul,
  ol {
    position: relative;
    font: 16px/1.5 'Proxima Nova Rg';
    margin-bottom: 24px;
    color: #555;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    ul,
    ol {
      margin-top: 12px;
      margin-left: 15px;

      li {
        margin-bottom: 12px;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: square;
  }

  ol {
    list-style: decimal;
  }

  li {
    margin-bottom: 12px;

    .code-title {
      margin-top: 10px;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-family: "Proxima Nova Bd";

    em {
      font-family: "Proxima Nova Lt";
    }
  }

  img {
    position: relative;
    z-index: 10;
    max-width: 100%;
    @include border-radius(4px);
  }

  table {
    width: 100%;
    margin: 24px 0;
    font: 13px/1.3 "Proxima Nova Rg";
    color: #999;

    tr {
      width: 100%;

      td {
        padding: 14px;

        &:first-child {
          font-family: "Proxima Nova Bd";
          color: #666;
        }

        &:last-child {
          border-left: 1px solid #E5E5E5;
        }
      }

      &:nth-child(odd) {
        background: #F2F2F2;
      }
    }
  }

  code {
    font: 13px Consolas, Menlo, Courier, monospace;
    padding: 2px;
    margin: 0;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    color: #666;
    @include border-radius(4px);
  }

  pre {
    overflow: auto;
    line-height: 19px;
    margin-bottom: 24px;
    padding: 18px;
    background-color: #f8f8f8;
    @include border-radius(4px);

    + .code-title {
      border-top: 1px solid #ddd;
    }

    code {
      border: none;
      padding: 0;
    }
  }
}

.highlight + .highlight {
  margin-top: -24px;
  border-top: 1px solid #ddd;

  pre {
    @include border-radius(0 0 4px 4px);
  }
}

.code-title {
  padding: 18px;
  font: normal 13px/19px "Monaco", "Courier New", monospace;
  text-transform: uppercase;
  background-color: #f8f8f8;
  color: #666;
  @include border-top-radius(4px);

  + .highlight {
    border-top: 1px solid #ddd;

    pre {
      @include border-radius(0 0 4px 4px);
    }

    + .code-title {
      margin-top: -24px;
      @include border-radius(0);
    }
  }

  &.with-result {
    + .highlight {

      pre {
        @include border-bottom-radius(0);
      }
    }
  }

  &.notitle {
    display: none;

    + .highlight {
      border-top: 0;

      pre {
        @include border-top-radius(4px);
      }
    }
  }
}

.code-request {
  background: #333;
  color: #999;

  + .highlight {
    border-top: 1px solid #484848;

    pre,
    code {
      background: #333;
      color: #999;
    }
  }
}

.wrap {
  position: absolute;
  top: 0;
  z-index: 11;
  width: 100%;
  @include box-shadow(0 0 0 1px rgba(#000, .2) inset);
  @include border-radius(4px);
}

.header-link {
  margin-left: 10px;
  @include opacity(0);
  @include transition(opacity .15s ease-in-out);

  i {
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 10px;
    background: image-url('icons/link.png') no-repeat;
  }
}

.aside {
  position: absolute;
  top: 79px;
  bottom: 0;

  &.bottom {
    position: absolute;
    z-index: 1;
    top: auto;

    .aside-inner {
      position: static;
    }

    .up {
      position: absolute;
    }
  }
}

.aside-inner {
  position: fixed;
  top: 79px;
  width: 245px;
  height: 100%;
  border-right: 1px solid #eee;
  background: #fff;
}

.aside-fixed {
  min-width: 245px;
  outline: none;
}

.aside-menu {
  padding: 40px 20px;

  h3 {
    font: 16px/1.5 'Proxima Nova Rg';
    margin-bottom: 18px;
    color: #555;
  }

  li {
    font: 14px/1.5 'Proxima Nova Rg';
    margin-bottom: 12px;
  }

  a {
    display: block;
    overflow: hidden;
    color: #999;
    @include transition(color .15s);
    text-overflow: ellipsis;

    &:hover,
    .selected {
      color: #333;
      text-decoration: none;
    }
  }

  ul {
    display: none;
    padding-left: 12px;
  }

  .item {
    &.selected,
    &.tutorials-menu-item {
      ul {
        display: block;
      }
    }

    .selected {
      border-left: 4px solid #3B7EBB;
      padding-left: 28px;
      margin-left: -32px;
      font-family: "Proxima Nova Bd";
      color: #666;
    }

    .indent {
      .selected {
        padding-left: 40px;
        margin-left: -44px;
      }
    }

    h3 {
      .selected {
        font-weight: normal;
      }
    }
  }

  .indent {
    padding-left: 12px;
  }
}

.subscribe-block {
  margin-top: 24px;
  padding: 20px;
  background: #384047;
  @include border-radius(4px);

  ul {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;

    > li {
      width: 50%;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }

  p {
    color: #fff;
    background: image-url('icons/subscribe.png') no-repeat 0 center;
    padding-left: 60px;
    font: 18px/24px 'Proxima Nova Sb';
  }
}

.subscribe-block-inner {
  margin: 0 10px;
}

.subscribe-block-field {
  padding-top: 5px;
}


/* =Platform
----------------------------------------------- */

.platform {
  table {
    width: 100%;
    margin: 24px 0;
    font: 13px/1.3 "Proxima Nova Rg";
    color: #999;

    th {
      padding: 14px;
      font-family: "Proxima Nova Bd";
      border-bottom: 1px solid #E5E5E5;
      background: #F2F2F2;
    }

    tr {
      padding: 14px;
      width: 100%;
      color: #666;

      &:nth-child(odd) {
        background: transparent;
      }

      td {
        &:last-child {
          border: 0;
        }

        &:first-child {
          font-family: "Proxima Nova Rg";
          color: #666;
        }
      }
    }
  }

}

.platform-list {
  @extend %clearfix;
  margin-bottom: 24px;

  li {
    margin: 0;
    list-style: none;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .platform-lst-content {
    margin-bottom: 24px;
  }

  .btn {
    text-decoration: none;

    span {
      font-size: 14px;
    }
  }
}

.platform-lst-inner {
  margin: 10px 0;
  padding: 15px 30px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  @include border-radius(4px);
}


/* =Tutorials
----------------------------------------------- */

.tutorials-list {
  li {
    margin: 0;
    padding: 0;
    list-style: none;

    + li {
      margin: 24px 0 0;
      padding: 50px 0 0;
      border-top: 1px dotted #ddd;
    }
  }
}

.tutorials-meta + h2 {
  margin-top: 24px;
}

.icon-clock {
  display: inline-block;
  width: 11px;
  height: 10px;
  background: image-url('icons/clock.png') no-repeat;
}

.tutorials-time {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  font-style: normal !important;
  background: #eee;
  color: #333;
  @include border-radius(2px);
}

.tutorials-level {
  display: inline-block;
  margin-left: 6px;
  line-height: 28px;
  padding: 0 10px;
  background: #eee;
  color: #fff;
  font-size: 12px;
  font-style: normal !important;
  text-transform: uppercase;
  @include border-radius(2px);

  &.basic { background: #8EB83F; }
  &.medium { background: #FF9326; }
  &.hard { background: #FF0000; }
}

.embed-tutorial {
  margin: 0 -50px;
}

.tutorials-item {
  table {
    width: 100%;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-collapse: separate;
    background-color: #F6F6F6;
    @include border-radius(5px);

    tr {
      th {
        padding: 15px;
        font: bold 13px "Helvetica", "Helvetica Neue",Arial;
        color: #7C7C7C;
        border-bottom: 1px solid #ccc;
      }

      td {
        padding: 15px;
        font: normal 14px "Helvetica", "Helvetica Neue",Arial;
        color: #737373;
        background-color: #fff;
        border-right: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;

        &.last_col {
          border-right: none;
        }

        &.last_row {
          border-bottom: none;
          @include border-radius(3px);
        }
      }
    }
  }
}


/* =Footer
----------------------------------------------- */

.footer-inner {
  max-width: 1046px;
  padding: 40px 50px 0;
}


/* =Newsletter
----------------------------------------------- */

.Newsletter {
  position: relative;
  width: 100%;
  margin-top: 7px;

  .hs-form{
    position: relative;

    .hs-input {
      padding: 12px 108px 12px 16px !important;
    }
  }
}

.hs-newsletter {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  width: 100px;
  border: 0;
  font: 500 12px "Proxima Nova Sb";
  color: #fff;
  background: $secondary-color;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  transition: all .15s;
  cursor: pointer;
  outline: none;

  &:hover {
    background: darken($secondary-color, 5%);
  }
}


/* =Media queries
----------------------------------------------- */

@media (max-width: $max-width) {
  .tooltip {
    right: -4px;
  }

  .nav-inner {
    > li {
      &.cartodb-link {
        margin-left: 0;
      }

      a {
        padding: 14px;
      }
    }
  }

  .nav-brand {
    width: 261px;
  }
}

@media (max-width: $large-width) {
  .offcanvas-inner {
    position: relative;
    right: 0;
    width: 100%;
    @include transition(all .15s ease-out);

    .icons-arrow-down,
    .icons-arrow-down-white {
      display: none;
    }

    .tooltip {
      display: block !important;
      opacity: 1 !important;
      position: static;
      margin-top: 10px;
      background: transparent;
      @include box-shadow(none);

      &:before {
        display: none;
      }
    }

    .tooltip-header {
      display: none;
    }

    .nav-inner > li {
      .tooltip-inner {
        border: 0;

        li.selected a {
          background-color: transparent !important;
        }
      }

      &.selected {
        padding: 0;

        li {
          &.selected,
          &:hover {
            a {
              background: rgba(#333, .3);
              text-decoration: none;
            }
          }

          a {
            background: none;
          }
        }
      }
    }

    &.active {
      right: 80%;

      .nav-inner > li {
        .tooltip-inner {
          border: 0;
          padding-left: 0;

          li.selected a {
            background-color: transparent !important;
          }
        }

        &.selected,
        &:hover {
          padding: 0;

          li {
            &.selected,
            &:hover {
              a {
                background: rgba(#333, .3);
                text-decoration: none;
              }
            }

            a {
              background: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        &.cartodb-link {
          padding: 14px;
        }
      }

      .nav-collapse {
        right: 0;
      }
    }
  }

  .nav-button {
    display: block;
    position: absolute;
    top: 21px;
    right: 20px;
  }

  .nav-collapse {
    position: absolute;
    top: 107px;
    right: -80%;
    width: 80%;
    padding: 0 10px;
  }

  .nav-inner {
    width: 100%;

    > li {
      display: block;
      margin: 0 0 10px;
    }

    a {
      color: #eee;
      color: rgba(#fff, .8);
    }
  }

  .Newsletter {
    margin-top: 0;
  }
}

@media (max-width: $large-width) {
  .nav-inner {
    width: 100%;

    > li {
      display: block;
      margin: 0 0 10px;
    }

    &.navbar-inner-buttons {
      margin-bottom: 10px;
      padding-bottom: 21px;
      border-bottom: 1px solid rgba(#000, .1);

      > li {
        float: left;
        width: 49%;
        margin-bottom: 0;

        &:last-child {
          float: right;
        }
      }
    }

    a {
      color: #eee !important;
      color: rgba(#fff, .8) !important;

      &.navbar-login {
        padding: 10px 22px;
        border: 2px solid #fff !important;
        text-align: center;

        &:hover {
          background: #fff !important;
          color: #397EB9 !important;
        }
      }
    }
  }
}

@media (max-width: $large-width) {
  .subscribe-block {
    ul {
      > li {
        width: 100%;
      }
    }

    .subscribe-block-inner {
      p {
        display: inline-block;
        margin-bottom: 20px;
        text-align: left;
      }
    }
  }

  .subscribe-block-inner {
    text-align: center;
  }
}

@media (max-width: $medium-width) {
  .aside { display: none; }

  .content {
    padding: 40px 20px;
    margin-left: 0;
  }

  .embed-tutorial {
    margin: 0 -20px;
  }

  .footer-inner {
    padding: 40px 20px 0;
  }

}
