---
layout: default
---

<nav class="aside">
  <div class="aside-inner">
    <div class="aside-fixed">
      <ul class="aside-menu">
        <li class="item">
          <h3><a href="{{ '/cartodb-editor.html' | prepend: site.baseurl }}">CartoDB Editor</a></h3>
        </li>

        <li class="item">
          <h3><a href="{{ '/cartodb-platform.html' | prepend: site.baseurl }}">CartoDB Platform</a></h3>
        </li>
      </ul>
    </div>
  </div>

  <a href="#" class="up"></a>
</nav>

<article class="content">

  {{ content }}

</article>
