---
layout: default
---

<nav class="aside">
  <div class="aside-inner">
    <div class="aside-fixed">
      <ul class="aside-menu">
        <li class="item">
          <h3><a href="{{ '/cartodb-platform/cartodb-js.html' | prepend: site.baseurl }}">CartoDB.js</a></h3>
        </li>

        <li class="item">
          <h3><a href="{{ '/cartodb-platform/sql-api.html' | prepend: site.baseurl }}">SQL API</a></h3>
        </li>

        <li class="item">
          <h3><a href="{{ '/cartodb-platform/maps-api.html' | prepend: site.baseurl }}">Maps API</a></h3>
        </li>
      </ul>
    </div>
  </div>

  <a href="#" class="up"></a>
</nav>

<article class="content">

  {{ content }}


  <div class="subscribe-block">
    <ul class="inb-list">
      <li class="h-talign">
        <div class="subscribe-block-inner">
          <p>Receive news about the<br />CartoDB Platform</p>
        </div>
      </li>

      <li>
        <div class="subscribe-block-inner subscribe-block-field">
          {% include tech_newsletter.html %}
        </div>
      </li>
    </ul>
  </div>
</article>
