---
layout: default
---

<nav class="aside">
  <div class="aside-inner">
    <div class="aside-fixed">
      <ul class="aside-menu">
      </ul>
    </div>
  </div>

  <a href="#" class="up"></a>
</nav>

<article class="content">

  {{ content }}

  <div class="subscribe-block h-txt-center">
    <ul class="inb-list">
      <li class="h-talign">
        <div class="subscribe-block-inner">
          <p>Join to recieve news about the<br />CartoDB Developer Program and Platform</p>
        </div>
      </li>

      <li>
        <div class="subscribe-block-inner subscribe-block-field">
          {% include tech_newsletter.html %}
        </div>
      </li>
    </ul>
  </div>
</article>
