---
layout: default
---

<nav class="aside">
  <div class="aside-inner">
    <div class="aside-fixed">
      <ul class="aside-menu">
        {% for platform_item in site.cartodb-platform %}
        <li class="item">
          <h3><a href="{{ platform_item.url }}">{{ platform_item.title }}</a></h3>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <a href="#" class="up"></a>
</nav>

<article class="content">

  {{ content }}


  <div class="subscribe-block">
    <ul class="inb-list">
      <li class="h-talign">
        <div class="subscribe-block-inner">
          <p>Receive news about the<br />CartoDB Platform</p>
        </div>
      </li>

      <li>
        <div class="subscribe-block-inner subscribe-block-field">
          {% include tech_newsletter.html %}
        </div>
      </li>
    </ul>
  </div>
</article>
